@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="full text-center no-content">
    <img src="../img/svg/bug.svg" style="width:100px; margin-bottom:1em" />
    <h4>OOPS!</h4>
</div>