
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Home</a>
                <span class="breadcrumb-item active">Manager</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Contact Start -->
<div class="container-fluid">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Manager</span></h2>
    <div class="row px-xl-5">
        <div class="col-lg-5">
            <div class="bg-light pad-slim p-30 mb-3 row">
                <div class="col-4 vertical-center">
                    <i class="fa fa-chart icon-1 text-danger"></i>
                </div>
                <div class="col-8">
                    @*<h2>6500</h2>*@
                    <h5 class="bold text-danger">Analytics</h5>
                    <p>Total number of traffic on all pages of your store</p>
                    <a class="text-danger" asp-action="traffic" asp-controller="manager">View Traffic Insight <i class="fa fa-long-arrow"></i></a>
                </div>
            </div>
            <div class="bg-light pad-slim p-30 mb-3 row">
                <div class="col-4 vertical-center">
                    <i class="fa fa-cogs icon-1  text-info"></i>
                </div>
                <div class="col-8">
                    @*<h2>6500</h2>*@
                    <h5 class="bold text-info">Settings </h5>
                    <p>Modify specifics of your store</p>
                    <a class="text-info" asp-action="traffic" asp-controller="manager">Modify Store Settings <i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
         
        </div>
        <div class="col-lg-7">
            <div class="row">
                <div class="col-6 col-md-6 col-sm-6 pb-1">
                    <a class="text-decoration-none" asp-action="stock" asp-controller="manager">
                        <div class="cat-item d-flex align-items-center mb-4">
                            <div class="overflow-hidden vertical-center" style="width: 100px; height: 100px;">
                                <i class="fa fa-database icon-2 text-info"></i>
                            </div>
                            <div class="flex-fill pl-3">
                                <h6>Stock Manager</h6>
                                <small class="text-body">100 Items</small>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-6 col-md-6 col-sm-6 pb-1">
                    <a class="text-decoration-none" asp-action="order" asp-controller="manager">
                        <div class="cat-item img-zoom d-flex align-items-center mb-4">
                            <div class="overflow-hidden vertical-center" style="width: 100px; height: 100px;">
                                <i class="fa fa-shopping-cart icon-2 text-warning"></i>
                            </div>
                            <div class="flex-fill pl-3">
                                <h6>Order Manager</h6>
                                <small class="text-body">100 Orders</small>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-md-6 col-sm-6 pb-1">
                    <a class="text-decoration-none" asp-action="category" asp-controller="manager">
                        <div class="cat-item img-zoom d-flex align-items-center mb-4">
                            <div class="overflow-hidden vertical-center" style="width: 100px; height: 100px;">
                                <i class="fa fa-archive icon-2 text-danger"></i>
                            </div>
                            <div class="flex-fill pl-3">
                                <h6>Category Manager</h6>
                                <small class="text-body">100 Categories</small>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-md-6 col-sm-6 pb-1">
                    <a class="text-decoration-none" asp-action="group" asp-controller="manager">
                        <div class="cat-item img-zoom d-flex align-items-center mb-4">
                            <div class="overflow-hidden vertical-center" style="width: 100px; height: 100px;">
                                <i class="fa fa-folder icon-2 text-info"></i>
                            </div>
                            <div class="flex-fill pl-3">
                                <h6>Group Manager</h6>
                                <small class="text-body">100 Groups</small>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 pb-1">
                    <a class="text-decoration-none" asp-action="category" asp-controller="manager">
                        <div class="cat-item img-zoom d-flex align-items-center mb-4">
                            <div class="overflow-hidden full vertical-center" style="height: 100px;">
                                <div class="text-center">
                                    <h6>Ads</h6>
                                </div>
                            </div>
                         
                        </div>
                    </a>
                </div>               

            </div>
        </div>
        
        
    </div>
       <hr />
    <div class="row px-xl-5">
        <div class="col-6 col-md-3 col-sm-4 pb-1">
            <a class="text-decoration-none" asp-action="stock" asp-controller="manager">
                <div class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden vertical-center" style="width: 100px; height: 100px;">
                        <i class="fa fa-comments icon-2 text-primary"></i>
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Review Manager</h6>
                        <small class="text-body">100 Items</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-3 col-sm-4 pb-1">
            <a class="text-decoration-none" asp-action="stock" asp-controller="manager">
                <div class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden vertical-center" style="width: 100px; height: 100px;">
                        <i class="fa fa-envelope icon-2 text-info"></i>
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Email Marketing</h6>
                        <small class="text-body">100 Items</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-3 col-sm-4 pb-1">
            <a class="text-decoration-none" asp-action="stock" asp-controller="manager">
                <div class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden vertical-center" style="width: 100px; height: 100px;">
                        <i class="fa fa-rss icon-2  text-info"></i>
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Blog Manager</h6>
                        <small class="text-body">100 Items</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-3 col-sm-4 pb-1">
            <a class="text-decoration-none" asp-action="stock" asp-controller="manager">
                <div class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden vertical-center" style="width: 100px; height: 100px;">
                        <i class="fa fa-plug icon-2 text-danger"></i>
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Pixel Integration</h6>
                        <small class="text-body">100 Items</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-3 col-sm-4 pb-1">
            <a class="text-decoration-none" asp-action="stock" asp-controller="manager">
                <div class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden vertical-center" style="width: 100px; height: 100px;">
                        <i class="fa fa-book icon-2 text-danger"></i>
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Transaction Manager</h6>
                        <small class="text-body">100 Items</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-3 col-sm-4 pb-1">
            <a class="text-decoration-none" asp-action="stock" asp-controller="manager">
                <div class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden vertical-center" style="width: 100px; height: 100px;">
                        <i class="fa fa-users icon-2 text-warning"></i>
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Customer Manager</h6>
                        <small class="text-body">100 Items</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-3 col-sm-4 pb-1">
            <a class="text-decoration-none" asp-action="stock" asp-controller="manager">
                <div class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden vertical-center" style="width: 100px; height: 100px;">
                        <i class="fa fa-home icon-2 text-warning"></i>
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Homepage Manager</h6>
                        <small class="text-body">100 Items</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-3 col-sm-4 pb-1">
            <a class="text-decoration-none" asp-action="stock" asp-controller="manager">
                <div class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden vertical-center" style="width: 100px; height: 100px;">
                        <i class="fa fa-tag icon-2 text-info"></i>
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Offer Manager</h6>
                        <small class="text-body">100 Items</small>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- Contact End -->